logs/
npm-debug.log
node_modules/

coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
#*.js
!.autod.conf.js
package-lock.json

app/controller/*.js
app/decorator/*.js
app/dto/*.js
app/middleware/*.js
app/entities/*.js
app/extend/*.js
app/queue/*.js
app/service/*.js
app/router.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

config/config.local.ts
config/config.prod.ts

typings/app/*
typings/config/*
typings/typeorm.d.ts
*.yarn/cache